# Items to ignore when downloading a zip or deploying

# Directories
/.wordpress-org export-ignore
/.github export-ignore

/assets/src/ export-ignore
/build/ export-ignore
/tests/ export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore

Gruntfile.js export-ignore
package.json export-ignore
package-lock.json export-ignore
phpci.yml export-ignore
phpunit.xml export-ignore
README.md export-ignore
webpack.*.js export-ignore