.affcoups-icon-hand-right {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-hand-o-right.svg');
}
.affcoups-icon-gavel {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-gavel.svg');
}
.affcoups-icon-cart {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-shopping-cart.svg');
}
.affcoups-settings .form-table td > h4:first-child {
  margin-top: 7px;
}
.affcoups-settings .form-table td h4 {
  margin: 10px 0 4px;
  color: #666;
}
