.affcoups .affcoups-coupons-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  width: 103%;
  margin-left: -3%;
}
.affcoups .affcoups-coupons-grid .opera-only :-o-prefocus,
.affcoups .affcoups-coupons-grid {
  word-spacing: -0.43em;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
}
.affcoups .affcoups-coupons-grid__item {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-family: sans-serif;
  width: 97%;
  margin-left: 3%;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid__item {
    display: flex;
    display: -webkit-flex;
  }
  .affcoups .affcoups-coupons-grid__item > * {
    max-width: 100%;
  }
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid--col-2 .affcoups-coupons-grid__item {
    width: 47%;
  }
  .affcoups .affcoups-coupons-grid--col-3 .affcoups-coupons-grid__item {
    width: 30.33%;
  }
  .affcoups .affcoups-coupons-grid--col-4 .affcoups-coupons-grid__item {
    width: 22%;
  }
  .affcoups .affcoups-coupons-grid--col-5 .affcoups-coupons-grid__item {
    width: 17%;
  }
  .affcoups .affcoups-coupons-grid--col-6 .affcoups-coupons-grid__item {
    width: 13.66%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .affcoups .affcoups-coupons-grid--col-3 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-4 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-5 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-6 .affcoups-coupons-grid__item {
    width: 47%;
  }
}
.affcoups .affcoups-coupon {
  position: relative;
  max-width: 400px;
  margin: 0 auto 30px auto;
  padding-bottom: 40px;
  background: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 3px;
}
.affcoups .affcoups-coupon__header {
  position: relative;
}
.affcoups .affcoups-coupon__thumbnail {
  display: block;
}
.affcoups .affcoups-coupon__thumbnail img {
  display: block !important;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-coupon--image-border .affcoups-coupon__thumbnail {
  border: 1px solid #F7F7F7;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-coupon__discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px 5px;
  background: #33b26e;
  border-top-left-radius: 3px;
  color: #fff;
  font-size: 16px;
}
.affcoups .affcoups-coupon__content {
  padding: 15px 25px 15px;
}
.affcoups .affcoups-coupon__title {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 26px;
}
.affcoups .affcoups-coupon__types {
  margin-top: -5px;
  margin-bottom: 5px;
}
.affcoups .affcoups-coupon__types span {
  color: #6b747a;
  font-size: 14px;
  font-weight: bold;
}
.affcoups .affcoups-coupon__types span + span {
  margin-left: 10px;
}
.affcoups .affcoups-coupon__description {
  font-size: 16px;
}
.affcoups .affcoups-coupon__description > *:last-child {
  margin-bottom: 0;
}
.affcoups .affcoups-coupon__code {
  margin-top: 15px;
}
.affcoups .affcoups-coupon__valid-dates {
  display: block;
  color: #6b747a;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.affcoups .affcoups-coupon__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.affcoups .affcoups-coupon__button {
  display: block;
  margin: 0;
  padding: 12px 15px 9px 10px;
  width: 100%;
  background: #33b26e;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.affcoups .affcoups-coupon__button:hover,
.affcoups .affcoups-coupon__button:focus,
.affcoups .affcoups-coupon__button:active {
  background-color: #84919E;
}
.affcoups .affcoups-coupon__button-icon {
  display: inline-block;
  height: 16px;
  margin: -2px 5px 0 0;
  width: 16px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAk1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////ROyVeAAAAMHRSTlMAAQIEBQgKDhAREhMcLzAyNjg+QExdX2FjZnF7foKDqKq8vsXHyNHX5Onx9ff5+/28S9ZCAAAAeUlEQVQYGXXBVxaCMABFwUsIWLH3ggV7gbf/1XkSj6gfzFAh0X3AD3OJmzJ8pSPCIrI25G2+gomcU521dJvx0cmQZCklByRZvETSuYUki9c72hCQZPHSKY4yWbxdH0ddNXBqeYCzfDzz66JtgvGWUjTcFNrH/DFUeAHixwrFIxboLQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  vertical-align: middle;
}
.affcoups .affcoups-coupon-code {
  position: relative;
  display: block;
  margin: 10px;
  padding: 12px 10px 10px 32px;
  background: #FAF3C4;
  border: 1px dashed #333;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
.affcoups .affcoups-coupon-code__copy {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}
