.affcoups {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.affcoups *,
.affcoups *:before,
.affcoups *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.affcoups .affcoups-coupon-code {
  position: relative;
  display: block;
  margin: 10px;
  padding: 12px 10px 10px 32px;
  background: #FAF3C4;
  border: 1px dashed #333;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
.affcoups .affcoups-coupon-code__copy {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}
.affcoups .affcoups-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-affcoups.png');
}
.affcoups .affcoups-icon-hand-right {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-hand-o-right.svg');
}
.affcoups .affcoups-icon-gavel {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-gavel.svg');
}
.affcoups .affcoups-icon-cart {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-shopping-cart.svg');
}
.affcoups .affcoups-coupon {
  position: relative;
}
.affcoups .affcoups-coupon__header {
  position: relative;
}
.affcoups a.affcoups-coupon__thumbnail {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.affcoups img.affcoups-coupon__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.affcoups .affcoups-coupon__title {
  display: block;
  color: #222;
  font-weight: bold;
}
.affcoups .affcoups-coupon__discount {
  background: #27ae60;
  color: #fff;
}
.affcoups .affcoups-coupon__valid-dates {
  color: #6b747a;
  font-weight: bold;
  font-style: italic;
}
.affcoups a.affcoups-coupon__button {
  display: inline-block;
  margin: 0;
  padding: 12px 15px 9px 10px;
  background: #27ae60;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.affcoups a.affcoups-coupon__button:visited {
  color: #fff;
}
.affcoups a.affcoups-coupon__button:hover,
.affcoups a.affcoups-coupon__button:focus,
.affcoups a.affcoups-coupon__button:active {
  background-color: #1e8449;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.affcoups .affcoups-toggle-desc {
  margin-left: 3px;
}
.affcoups .affcoups-standard .affcoups-coupon {
  max-width: 400px;
  margin: 0 auto 30px auto;
  padding-bottom: 40px;
}
@media (min-width: 769px) {
  .affcoups .affcoups-standard .affcoups-coupon--float-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  .affcoups .affcoups-standard .affcoups-coupon--float-right {
    float: right;
    margin: 0 0 30px 30px;
  }
}
.affcoups .affcoups-standard .affcoups-coupon__thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}
.affcoups .affcoups-standard .affcoups-coupon__discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px 5px;
  font-size: 16px;
}
.affcoups .affcoups-standard .affcoups-coupon__content {
  padding: 15px 25px 15px;
}
.affcoups .affcoups-standard .affcoups-coupon__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}
.affcoups .affcoups-standard .affcoups-coupon__types {
  margin-top: -5px;
  margin-bottom: 5px;
}
.affcoups .affcoups-standard .affcoups-coupon__types span {
  font-size: 14px;
  font-weight: bold;
}
.affcoups .affcoups-standard .affcoups-coupon__types span + span {
  margin-left: 10px;
}
.affcoups .affcoups-standard .affcoups-coupon__description {
  margin: 10px 0 0;
  font-size: 16px;
}
.affcoups .affcoups-standard .affcoups-coupon__description > *:first-child {
  margin-top: 0;
}
.affcoups .affcoups-standard .affcoups-coupon__description > *:last-child {
  margin-bottom: 0;
}
.affcoups .affcoups-standard .affcoups-coupon__code {
  margin-top: 15px;
}
.affcoups .affcoups-standard .affcoups-coupon__valid-dates {
  display: block;
  margin: 5px 0 0;
  font-size: 13px;
  text-align: center;
}
.affcoups .affcoups-standard .affcoups-coupon__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.affcoups .affcoups-standard a.affcoups-coupon__button {
  display: block;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.affcoups .affcoups-coupons-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 103%;
  margin-left: -3%;
}
.affcoups .affcoups-coupons-grid .opera-only :-o-prefocus,
.affcoups .affcoups-coupons-grid {
  word-spacing: -0.43em;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.affcoups .affcoups-coupons-grid__item {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-family: sans-serif;
  width: 97%;
  margin-left: 3%;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
  }
  .affcoups .affcoups-coupons-grid__item > * {
    max-width: 100%;
  }
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-grid--col-2 .affcoups-coupons-grid__item {
    width: 47%;
  }
  .affcoups .affcoups-coupons-grid--col-3 .affcoups-coupons-grid__item {
    width: 30.33%;
  }
  .affcoups .affcoups-coupons-grid--col-4 .affcoups-coupons-grid__item {
    width: 22%;
  }
  .affcoups .affcoups-coupons-grid--col-5 .affcoups-coupons-grid__item {
    width: 17%;
  }
  .affcoups .affcoups-coupons-grid--col-6 .affcoups-coupons-grid__item {
    width: 13.66%;
  }
  .affcoups .affcoups-coupons-grid--col-7 .affcoups-coupons-grid__item {
    width: 11.28%;
  }
  .affcoups .affcoups-coupons-grid--col-8 .affcoups-coupons-grid__item {
    width: 9.5%;
  }
  .affcoups .affcoups-coupons-grid--col-9 .affcoups-coupons-grid__item {
    width: 8.11%;
  }
  .affcoups .affcoups-coupons-grid--col-10 .affcoups-coupons-grid__item {
    width: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .affcoups .affcoups-coupons-grid--col-7 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-9 .affcoups-coupons-grid__item {
    width: 30.33%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .affcoups .affcoups-coupons-grid--col-8 .affcoups-coupons-grid__item {
    width: 22%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .affcoups .affcoups-coupons-grid--col-10 .affcoups-coupons-grid__item {
    width: 17%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .affcoups .affcoups-coupons-grid--col-3 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-4 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-5 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-6 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-7 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-8 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-9 .affcoups-coupons-grid__item,
  .affcoups .affcoups-coupons-grid--col-10 .affcoups-coupons-grid__item {
    width: 47%;
  }
}
.affcoups .affcoups-coupons-grid .affcoups-coupon {
  max-width: 400px;
  margin: 0 auto 30px auto;
  padding-bottom: 40px;
}
@media (min-width: 769px) {
  .affcoups .affcoups-coupons-grid .affcoups-coupon--float-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  .affcoups .affcoups-coupons-grid .affcoups-coupon--float-right {
    float: right;
    margin: 0 0 30px 30px;
  }
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px 5px;
  font-size: 16px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__content {
  padding: 15px 25px 15px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__types {
  margin-top: -5px;
  margin-bottom: 5px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__types span {
  font-size: 14px;
  font-weight: bold;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__types span + span {
  margin-left: 10px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__description {
  margin: 10px 0 0;
  font-size: 16px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__description > *:first-child {
  margin-top: 0;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__description > *:last-child {
  margin-bottom: 0;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__code {
  margin-top: 15px;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__valid-dates {
  display: block;
  margin: 5px 0 0;
  font-size: 13px;
  text-align: center;
}
.affcoups .affcoups-coupons-grid .affcoups-coupon__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.affcoups .affcoups-coupons-grid a.affcoups-coupon__button {
  display: block;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.affcoups .affcoups-coupons-list .affcoups-coupon {
  zoom: 1;
  margin: 0 0 30px;
  padding: 15px;
}
.affcoups .affcoups-coupons-list .affcoups-coupon:before,
.affcoups .affcoups-coupons-list .affcoups-coupon:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.affcoups .affcoups-coupons-list .affcoups-coupon:after {
  clear: both;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-list .affcoups-coupon--code .affcoups-coupon__header,
  .affcoups .affcoups-coupons-list .affcoups-coupon--code .affcoups-coupon__content {
    margin-top: 2%;
  }
  .affcoups .affcoups-coupons-list .affcoups-coupon--code .affcoups-coupon__footer {
    margin-top: 0;
  }
}
.affcoups .affcoups-coupons-list .affcoups-coupon__discount {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 5px 10px 4px;
  font-size: 13px;
  line-height: 15px;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-list .affcoups-coupon__header {
    float: left;
    width: 20%;
  }
}
.affcoups .affcoups-coupons-list .affcoups-coupon__thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__types {
  text-align: left;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__types span {
  font-size: 13px;
  font-weight: bold;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__types span + span {
  margin-left: 10px;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__content {
  margin-top: 15px;
  padding: 0;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-list .affcoups-coupon__content {
    float: left;
    margin-top: 0;
    padding: 0 10px;
    width: 50%;
  }
}
.affcoups .affcoups-coupons-list .affcoups-coupon__title {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description {
  margin: 8px 0 0;
  font-size: 14px;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description > *:first-child {
  margin-top: 0;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description > *:last-child {
  margin-bottom: 0;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description-excerpt {
  display: block;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description-full {
  display: none;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description--full .affcoups-coupon__description-excerpt {
  display: none;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__description--full .affcoups-coupon__description-full {
  display: block;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__footer {
  margin-top: 15px;
}
@media (min-width: 481px) {
  .affcoups .affcoups-coupons-list .affcoups-coupon__footer {
    float: left;
    margin-top: 1%;
    width: 30%;
  }
}
.affcoups .affcoups-coupons-list .affcoups-coupon__button {
  display: block;
  width: 100%;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__valid-dates {
  display: block;
  margin: 5px 0 0;
  font-size: 13px;
}
.affcoups .affcoups-widget .affcoups-coupon {
  max-width: 400px;
  margin: 0 auto 30px auto;
  padding-bottom: 40px;
  background: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 3px;
}
@media (min-width: 769px) {
  .affcoups .affcoups-widget .affcoups-coupon--float-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  .affcoups .affcoups-widget .affcoups-coupon--float-right {
    float: right;
    margin: 0 0 30px 30px;
  }
}
.affcoups .affcoups-widget .affcoups-coupon__thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}
.affcoups .affcoups-widget img.affcoups-coupon__image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-widget .affcoups-coupon--image-border .affcoups-coupon__thumbnail {
  border: 1px solid #F7F7F7;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-widget .affcoups-coupon__discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px 5px;
  border-top-left-radius: 3px;
  font-size: 16px;
}
.affcoups .affcoups-widget .affcoups-coupon__content {
  padding: 15px 25px 15px;
}
.affcoups .affcoups-widget .affcoups-coupon__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}
.affcoups .affcoups-widget .affcoups-coupon__types {
  margin-top: -5px;
  margin-bottom: 5px;
}
.affcoups .affcoups-widget .affcoups-coupon__types span {
  color: #6b747a;
  font-size: 14px;
  font-weight: bold;
}
.affcoups .affcoups-widget .affcoups-coupon__types span + span {
  margin-left: 10px;
}
.affcoups .affcoups-widget .affcoups-coupon__description {
  margin: 10px 0 0;
  font-size: 16px;
}
.affcoups .affcoups-widget .affcoups-coupon__description > *:first-child {
  margin-top: 0;
}
.affcoups .affcoups-widget .affcoups-coupon__description > *:last-child {
  margin-bottom: 0;
}
.affcoups .affcoups-widget .affcoups-coupon__code {
  margin-top: 15px;
}
.affcoups .affcoups-widget .affcoups-coupon__valid-dates {
  display: block;
  margin: 5px 0 0;
  font-size: 13px;
  text-align: center;
}
.affcoups .affcoups-widget .affcoups-coupon__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.affcoups .affcoups-widget a.affcoups-coupon__button {
  display: block;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.affcoups .affcoups-coupon__title {
  color: #222;
  font-weight: bold;
}
.affcoups .affcoups-coupon__content {
  color: #444;
}
.affcoups .affcoups-standard .affcoups-coupon,
.affcoups .affcoups-coupons-grid .affcoups-coupon {
  background: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 3px;
}
.affcoups .affcoups-standard img.affcoups-coupon__image,
.affcoups .affcoups-coupons-grid img.affcoups-coupon__image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-standard .affcoups-coupon--image-border .affcoups-coupon__thumbnail,
.affcoups .affcoups-coupons-grid .affcoups-coupon--image-border .affcoups-coupon__thumbnail {
  border: 1px solid #F7F7F7;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.affcoups .affcoups-standard .affcoups-coupon__discount,
.affcoups .affcoups-coupons-grid .affcoups-coupon__discount {
  border-top-left-radius: 3px;
}
.affcoups .affcoups-standard .affcoups-coupon__types span,
.affcoups .affcoups-coupons-grid .affcoups-coupon__types span {
  color: #6b747a;
}
.affcoups .affcoups-standard a.affcoups-coupon__button,
.affcoups .affcoups-coupons-grid a.affcoups-coupon__button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.affcoups .affcoups-coupons-list .affcoups-coupon {
  background-color: #F7F7F7;
}
.affcoups .affcoups-coupons-list .affcoups-coupon__types span {
  color: #6b747a;
}
