@import "common";
@import "elements/icons";

//== Settings Page
.affcoups-settings {

    .form-table {

        td {

            & > h4:first-child {
                margin-top: 7px;
            }

            h4 {
                margin: 10px 0 4px;

                color: #666;
            }
        }
    }
}

// Elements
@notice-border-width: 4px;
@notice-icon-size: 20px;

.affcoups-notice {
    padding-left: (@notice-icon-size * 2) + @notice-border-width;
    
    background-repeat: no-repeat;
    background-image: url('../img/icon-notice.png');
    background-size: @notice-icon-size @notice-icon-size;
    background-position: ((@notice-icon-size / 2) + 4px) center;
}