@import "../common";
@import (reference) "../public/elements/icons";

//== Admin Area Pages
@admin-icon-headlines-size: 25px;

body.affcoups-admin {

    h1.wp-heading-inline {

        &:before {

            content: "";

            display: inline-block;
            height: @admin-icon-headlines-size;
            width: @admin-icon-headlines-size;
            margin: 0 10px 0 0;

            background: url('../img/icon-page-title.png');
            background-repeat: no-repeat;
            background-size: @admin-icon-headlines-size;
            background-position: center;
            vertical-align: -14%;
        }
    }

    //== Settings Page Header
    .affcoups-page-headline {
        position: relative;

        margin: 0 0 0 -20px;
        padding: 1em 1em 1em 2.7em;

        background: @color-primary;
        color: #fff;

        &:before {
            position: absolute;
            top: 50%;
            left: 22px;

            content: "";

            display: block;
            height: @settings-header-icon-size;
            width: @settings-header-icon-size;
            margin: -(@settings-header-icon-size / 2) 0 0;

            background: url('../img/icon-page-title-inverted.png');
            background-repeat: no-repeat;
            background-size: @settings-header-icon-size;
            background-position: center;
        }

        small {
            margin-left: 1em;

            color: fade(#fff, 80%);
            font-size: .6em;
        }
    }

    #wpbody-content {
        div.notice, div.updated, div.error {
            margin: 20px 20px 0 0;
        }
    }
}

//== Settings Page
.affcoups-page {}

// Elements
@notice-border-width: 4px;
@notice-icon-size: 20px;

.affcoups-notice {
    padding-left: (@notice-icon-size * 2) + @notice-border-width;

    background-repeat: no-repeat;
    background-image: url('../img/icon-notice.png');
    background-size: @notice-icon-size @notice-icon-size;
    background-position: ((@notice-icon-size / 2) + 4px) center;
}

.affcoups-pro-feature {

}

.affcoups-pro-feature__badge {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 5px;

    border: 2px solid @color-secondary;
    border-radius: 3px;
    color: @color-primary;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.affcoups-pro-feature__text {

}

//== Tablenav note
@tablenav-note-icon-size: 16px;

.affcoups-tablenav-note {
    /*
    padding-left: (@tablenav-note-icon-size * 1.5);

    background-repeat: no-repeat;
    background-image: url('../img/icon-notice.png');
    background-size: @tablenav-note-icon-size @tablenav-note-icon-size;
    background-position: left center;
     */

    line-height: 30px;
    vertical-align: middle;

    @media(max-width: 783px) {
        display: none;
    }
}