@import "../common";

//== Settings Page
.affcoups-settings {

    .form-table {

        td {

            & > h4:first-child {
                margin-top: 7px;
            }

            h4 {
                margin: 10px 0 4px;

                color: #666;
            }

            p.desc {
                color: #777;
                font-size: .85em;
                font-style: italic;
            }
        }
    }

    //== Color Picker
    .wp-picker-container {
        position: relative;

        .wp-color-result {

        }

        .wp-picker-holder {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
        }
    }
}