.affcoups-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-affcoups.png');
}
.affcoups-icon-hand-right {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-hand-o-right.svg');
}
.affcoups-icon-gavel {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-gavel.svg');
}
.affcoups-icon-cart {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: center;
  vertical-align: -8%;
  background-image: url('../img/icon-shopping-cart.svg');
}
body.affcoups-admin h1.wp-heading-inline,
body.affcoups-admin h2.affcoups-settings-headline {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-admin-headlines.png');
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: left 60%;
}
.affcoups-settings .form-table td > h4:first-child {
  margin-top: 7px;
}
.affcoups-settings .form-table td h4 {
  margin: 10px 0 4px;
  color: #666;
}
.affcoups-settings .form-table td p.desc {
  color: #777;
  font-size: .85em;
  font-style: italic;
}
.affcoups-settings .wp-picker-container {
  position: relative;
}
.affcoups-settings .wp-picker-container .wp-picker-holder {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}
.affcoups-notice {
  padding-left: 44px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-notice.png');
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: 14px center;
}
/*
 * Widgets
 */
.widget-title .affcoups-icon {
  vertical-align: -20%;
}
